// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme((color: (theme-type: light,
                // primary: mat.$azure-palette,
                primary: mat.$violet-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-spacer {
    flex: 1 1 auto;
}

.image-avatar {
    background-size: cover;
}