input[type="file"] {
    visibility: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;

    .image-preview {
        width: 30rem;
        margin: 0;

        img {
            width: 100%;
        }
    }

    .err-Message {
        color: red;
        font-size: medium;
    }
}

mat-dialog-content {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}