.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    //border: 1px solid blue;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    //border: 1px solid red;
}