.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    // border: 1px solid green;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // border: 1px solid black
}