@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300..700,0..1,0&icon_names=favorite";


.icon {
    font-family: 'Material Symbols Outlined';
    // font-weight: 400;
    font-size: 2em;
}

.fill {
    font-variation-settings: 'FILL' 1;
}

.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        font-variation-settings: 'wght' 100, 'FILL' 1;
    }

    50% {
        font-variation-settings: 'wght' 700, 'FILL' 1;
    }

    100% {
        font-variation-settings: 'wght' 100, 'FILL' 1;
    }
}


.member-card {
    margin: 1em;

    .header-image {
        background-size: cover;
    }

}

.photoOfTheDay {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        transform: scale(1.05);
    }
}

.header-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.5s;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}