<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-card-subtitle>{{ member().username }}</mat-card-subtitle>
      <mat-card-title>{{ member().display_name }}</mat-card-title>
    </div>


  </mat-card-header>
  <img class="photoOfTheDay" mat-card-image [src]="member().photoOfTheDay"
    alt="Photo of a {{ member().display_name }}" />
  <mat-card-content>
    <p>🧏‍♂️❤️🧏‍♂️</p>
    <p>{{ member().age }} years</p>
    <p>{{ member().looking_for }}</p>
    <p>{{ member().interest }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleLike()">
      @if (isFollowing){
      <span class="icon fill pulse">❤️</span>
      }
      @if(!isFollowing){
      <span class="icon">🤍</span>
      }
    </button>
    <button mat-button routerLink="/member-profile/{{member().username}}">More detail</button>
  </mat-card-actions>
</mat-card>