.drawer-container {
    height: calc(100vh - 70px);

    .sidenav-content {
        display: flex;
        width: 100%;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 1em;
        overflow: auto;
    }

    .sidenav {
        width: 80%;
        padding-top: 1em;
        padding-left: 2em;

        button {
            margin-top: 0.5em;
        }
    }

    .img-thumb {
        width: 98%;
        margin-right: 1em;
    }

    .imag mat-card {
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
        padding: 1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
    }

    mat-card {
        width: 98%;
        height: 100%;
    }

    mat-card-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .left {
            margin-right: 1em;
        }
    }

    .gallery {
        margin-right: 2em;
    }

}

.chatter {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: yellowgreen;

    .chatt-container {
        background: purple;
        border-radius: 5px;
        box-shadow: 0 0px 10px 5px rgba(36, 34, 34, 0.2);
        overflow: hidden;
        padding: 1em;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        height: calc(100vh - 250px);
        max-width: 800px;
        width: calc(100% - 5em);

        .chat-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            color: blue;

            div {
                margin-left: 5px;
            }

            button {
                margin: 0;
                background-color: rgba(31, 31, 31, 0);
                cursor: pointer;
                border: none;

                :hover {
                    color: powderblue;
                }
            }

            .get-more-msg {
                cursor: pointer;
            }
        }

        .chat {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            list-style-type: none;
            padding: 0 10px 0 10px;
            margin: 0;
            height: 100%;
            width: 100%;
            max-height: calc(100vh - 350px);
            width: calc(100% - 20px);
            overflow-y: auto;

            li {
                width: 98%;
                margin: 30px;
                flex-direction: column;
                justify-content: start;
                align-items: center;
            }
        }

        .inpurt-container {
            position: relative;
            width: calc(100% - 50px);
            margin-top: 0.5em;
            margin-left: 1em;
            padding: 0 10px 0 10px;
            background-color: white;
            border: 2px snow;
            border-radius: 5px;

            input {
                font-size: medium;
                width: calc(100% - 50px);
                padding-right: 50px;
                outline: none;
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border: none;
            }

            button {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 10px 15px;
                cursor: pointer;

                :hover {
                    background-color: #0056b3;
                }

            }
        }

        .chat {
            scrollbar-width: thin;
            scrollbar-width: #0484ea91 rgba(0, 0, 0, 0.342);
        }
    }
}

.disconnected {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0057b382;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.215);
    z-index: 2000;

    h1 {
        color: rgb(150, 83, 83);
        font-size: 3em;
        margin: 0;
    }

    h3 {
        color: white;
        font-size: 15em;
        margin: 10px 0 0 0;
    }
}