.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    height: 100%;


    .upload-photo {
        position: fixed;
        bottom: 25px;
        right: 20px;
        z-index: 1000;

    }

    mat-card {

        margin: 1em;
        width: 250px;
        height: 340px;
    }

    mat-card-header {
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 0;
        padding: 0;
        padding-left: 1em;
        padding-top: 0.53m;
        padding-bottom: 0em;
        height: 2em;

        p {
            display: flex;
            margin-top: 5px;
        }
    }

    mat-card-actions {
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 8px;


    }

    .delete-photo,
    .set-avatar {
        font-size: small;
    }

    .avatar {
        margin: 0;
        color: red;

        mat-icon {
            margin-right: 0.2em;
        }
    }
}