.profile-container {
    display: flex;
    flex-grow: 1;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    mat-tab-group {
        padding-top: 1em;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;
    }

    form {
        display: block;
        flex-direction: column;
        text-align: end;
        margin-top: 1em;
        flex-grow: 1;

        button {
            margin-bottom: 1em;

        }
    }

    mat-form-field {
        width: 100%;
        display: block;
    }

}