@if(user){
<div class="profile-container">
  <mat-tab-group>
    <mat-tab label="Profile">
      <form (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput [(ngModel)]="user.display_name" name="display_name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Introduction</mat-label>
          <textarea
            matInput
            [(ngModel)]="user.introduction"
            name="introduction"
            rows="6"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Interest</mat-label>
          <textarea
            matInput
            [(ngModel)]="user.interest"
            name="interest"
            rows="6"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Looking For</mat-label>
          <mat-select
            matInput
            [(ngModel)]="user.looking_for"
            name="looking_for"
          >
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="all">ALL</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select matInput [(ngModel)]="user.gender" name="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="all">ALL</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <input matInput [(ngModel)]="user.location" name="location" />
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          [disabled]="form.invalid || !form.dirty"
        >
          Save
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Photos">
      <app-photo [user]="user"></app-photo>
    </mat-tab>
  </mat-tab-group>
</div>
}
