@if(user){
<div class="profile-container">
    <mat-tab-group>
        <mat-tab label="Profile">

            <form (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">

                <mat-form-field appearance="outline">
                    <mat-label>DisPlayName</mat-label>
                    <input matInput [(ngModel)]="user.display_name" name="display_name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>introduction</mat-label>
                    <textarea matInput [(ngModel)]="user.introduction" name="introduction" rows="6"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>interest</mat-label>
                    <textarea matInput [(ngModel)]="user.interest" name="interest" rows="6"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>gender</mat-label>
                    <mat-select [(ngModel)]="user.gender" name="gender">
                        <mat-option value="male">male</mat-option>
                        <mat-option value="female">female</mat-option>
                        <mat-option value="LGBTQ+">LGBTQ+</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>location</mat-label>
                    <input matInput [(ngModel)]="user.location" name="location">
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="form.invalid || !form.dirty">Save</button>

            </form>


        </mat-tab>
        <mat-tab label=" Photo">

        </mat-tab>
    </mat-tab-group>
</div>
}