<!-- @if (isDateSamePreviousMessageSendDate() == false) {
<p class="send-date">{{messageDate}}</p>
}

<div class="message-container">
    <div class="message{{messageStyle}}">
        <img src="{{avatar}}" alt="member avatar" class="chat-avatar">
        <p class="message-content">{{message().content}}</p>
        <p class="read-date{{messageStyle}}">
            @if (isMessageFromSender) {
            {{readAt}}
            }
        </p>
    </div>
</div> -->

@if (isDateSamePreviousMessageSendDate()===false) {
<p class="send-date">{{messageDate}}</p>
}
<div class="message-container">
    <div class="message {{messageStyle}}">
        <img src="{{avatar}}" alt="member-avatar" class="chat-avatar">
        <p class="message-content">{{message().content}}</p>
        <p class="read-date {{messageStyle}}">
            @if(isMessageFromSender){
            {{readAt}}
            }
        </p>
    </div>
</div>