mat-card {
    margin: 5em;
    margin-top: 1em;
    padding: 2em;
}

mat-form-field {
    display: block;
    margin-bottom: 1.2em;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-spacer,
form {
    width: 400px;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
}

.login-spacer {
    margin-top: 1em;
    // margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    position: relative;
    line-height: 2rem;
    color: #a2abb4;
}

.login-spacer::after {
    margin-left: 12px;
    border-bottom: 1px solid red;
}

.login-spacer::before {
    margin-left: 12px;
    border-bottom: 1px solid red;
}

*::after,
*::before {
    flex-grow: 1;
    height: 1px;
    content: "";
    box-sizing: border-box;
}

.toggle {
    color: #a2abb4;
    width: 100%;
    text-align: center;
    font-size: small;

    span {
        color: rgb(24, 80, 233);
        cursor: pointer;
    }
}