<mat-toolbar>
    <button class="home-button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Tinner</span>
    </button>
    <button routerLink="/members" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Member</span>
    </button>
    <button routerLink="/server-error" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>DobDob</span>
    </button>
    <!-- <span>My App</span> -->
    <span class="my-spacer"></span>
    <button routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
</mat-toolbar>