<mat-toolbar>
  <button
    class="home-button"
    routerLink="/"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <span>Tinner</span>
  </button>

  @if(user()===undefined){
  <span class="my-spacer"></span>
  <button routerLink="/login" routerLinkActive="active">
    <mat-icon>login</mat-icon>
    <span> Login</span>
  </button>
  } @if(user()){
  <button>
    <span> Follower</span>
  </button>
  <button>
    <span> Following</span>
  </button>

  <span class="my-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    {{ user()?.display_name }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>manage_accounts</mat-icon>Profile
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon><span>Logout</span>
    </button></mat-menu
  >
  }
</mat-toolbar>
