mat-toolbar button {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background: none
}

mat-toolbar button:not(.home-button) {
    // border-bottom: 0.15em solid rgb(255, 6, 6);
    color: purple;

}

mat-toolbar button.active:not(.home-button) {
    border-bottom: 0.15em solid rgb(0, 213, 255);
    color: rgb(222, 2, 2);

}

mat-toolbar .home-button {
    color: purple;
    font-size: 1.2em;
}