mat-toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: none;
}

mat-toolbar button:not(.home-button) {
    //border-bottom: 0.15cm solid rgb(70, 14, 14);
    color: rgb(142, 142, 142);
}

mat-toolbar button.active:not(.home-button) {
    color: black;
    border-bottom: 0.01cm solid black;
}

mat-toolbar .home-button {
    color: black;
    font-size: 1.2rem;
}